.my_Info {
    border: 2px solid blue;
    padding: 10px;
}

.my_Info h1 {
    text-align: center;
}

.my_Info h2 {
    text-align:center;
}

.my_Info p {
    text-align: center;
}

.my_Info ul {
    border: 2px solid red;
}

.my_Info li {
    text-align: center;
    list-style-type: none;
}