body {
    margin: 0;
}

.navbar {
    background-color: gray;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.navbar label {
    color: white;
    padding: 50px;
}

.navbar label:hover {
    color: red;
}